@model Pet

<div class="text-center">
	<h1>Monthly Pet</h1>
	<ul class="list-group">
		<li class="list-group-item list-group-item-heading list-group-item-success">
			<h5>
				<partial name="_PetLinkPartial" />
			</h5>
		</li>
	</ul>
</div>
