@{
    Layout = "_Layout";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<ul class="nav nav-tabs mt-2 mb-3">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Pet" asp-area="Admin">Manage Pets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Owner" asp-area="Admin">Manage Owners</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Classification" asp-area="Admin">Manage Classifications</a>
    </li>
</ul>

@RenderBody()

